name: dashboard

services:
  app:
    container_name: dashboard-app
    build:
      context: .
      dockerfile: Dockerfile
    image: dashboard:latest
    ports:
      - "0:80"
    restart: unless-stopped
    networks:
      - default
      - proxy
    labels:
      - 'traefik.enable=true'
      - 'traefik.http.routers.wander-dashboard.rule=Host(`${DASHBOARD_HOST:-wander.ch}`)'
      - 'traefik.http.routers.wander-dashboard.tls=true'
      - 'traefik.http.routers.wander-dashboard.tls.certresolver=letsencrypt'

networks:
  proxy:
    external: true
